@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #F4F6F9;
  font-size: 14px;
  color: #3E3E3E;
}

.container {
  max-width: 768px;
  padding: 0;
}

a {
  color: #3E3E3E;
  text-decoration: none;
}

a:hover {
  color: #3E3E3E;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input, button, textarea {
  outline: none;
  background-color: transparent;
  border: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

main {
  padding-bottom: 70px;
}

main.main-search {
  padding-top: 90px;
}

main.main-high {
  padding-top: 120px;
}

main.main-inner {
  padding-top: 80px;
  padding-bottom: 30px;
}

main.main-assets {
  padding-top: 130px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  max-width: 768px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #fff;
  -webkit-box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.05);
}

.footer ul li {
  height: 100%;
  width: 50%;
}

.footer ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer ul li a svg {
  width: 20px;
  margin-right: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer ul li a svg path {
  fill: #3E3E3E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer ul li a span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer ul li a.active {
  background-color: #81D1F1;
  -webkit-box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.1);
}

.footer ul li a.active svg {
  width: 25px;
}

.footer ul li a.active svg path {
  fill: #fff;
}

.footer ul li a.active span {
  color: #fff;
}

.footer ul li:first-child a {
  border-radius: 0 100px 0 0;
}

.footer ul li:last-child a {
  border-radius: 100px 0 0 0;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.w-7px {
  width: 7px;
}

.w-10px {
  width: 10px;
}

.w-15px {
  width: 15px;
}

.w-20px {
  width: 20px;
}

.color-gray {
  color: #AFB2BD;
}

.color-green {
  color: #56C63A;
}

.color-red {
  color: #C63A3A;
}

.color-blueSecond {
  color: #2C90F4;
}

.color-commonDark {
  color: #3E3E3E;
}

.color-purple {
  color: #A2AED1;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.pb-150 {
  padding-bottom: 150px !important;
}

.bb-ea {
  border-bottom: 1px solid #eaeaea;
}

.btn-iconText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-iconText img {
  margin-right: 4px;
}

.btn-iconText span {
  font-size: 12px;
}

.btn-myDocu {
  padding: 5px 15px;
  border-radius: 0px 0px 20px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 20px;
}

.btn-bgLight {
  background-color: #D4F3FF;
}

.btn-bgLight span {
  color: #2C90F4;
}

.btn-lookAll {
  padding: 5px 17px;
  border-radius: 100px 0 0 100px;
}

.btn-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #D4F3FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-icon img {
  width: 60%;
}

.btn-bottom {
  width: 100%;
  max-width: 768px;
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  padding: 20px 15px;
  background-color: #F4F6F9;
}

.btn-bottom button {
  border-radius: 100px;
  width: 100%;
  height: 40px;
}

.btn-bottom_border {
  border: 1px solid #2C90F4;
  color: #2C90F4;
}

.btn-bottom_bg {
  background-color: #2C90F4;
  border: 1px solid #2C90F4;
  color: #fff;
}

.btn-fixed {
  max-width: 768px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #F4F6F9;
  height: 70px;
  padding: 15px;
}

.btn-fixed .row {
  height: 100%;
}

.btn-fixed .row > div {
  height: 100%;
}

.btn-blueMainBg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  background-color: #81D1F1;
  color: #fff;
  height: 40px;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.btn-publish {
  position: fixed;
  right: 0;
  z-index: 1;
  bottom: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #81D1F1;
  border-radius: 15px 0 0 15px;
  -webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
}

.btn-publish img {
  width: 50%;
}

.tab-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 20px;
  border-radius: 100px;
  padding: 5px;
  background-color: #E8EAF1;
  -webkit-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 260px;
  height: 40px;
}

.tab-main li {
  border-radius: 100px;
  height: 100%;
}

.tab-main li a, .tab-main li .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  border: 0;
  color: #3E3E3E;
}

.tab-main li a.active, .tab-main li .nav-link.active {
  background-color: #81D1F1;
  color: #fff;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}

.tab-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #EAEAEA;
}

.tab-second a, .tab-second .nav-link {
  display: block;
  padding: 10px 18px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.tab-second a::after, .tab-second .nav-link::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #2C90F4;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.tab-second a.active, .tab-second a:hover, .tab-second .nav-link.active, .tab-second .nav-link:hover {
  color: #2C90F4;
  font-weight: 600;
}

.tab-second a.active::after, .tab-second a:hover::after, .tab-second .nav-link.active::after, .tab-second .nav-link:hover::after {
  opacity: 1;
}

.tab-second .nav-link {
  border: 0;
  background-color: transparent !important;
  color: #3E3E3E;
}

.tab-rate {
  border: 0;
  margin-bottom: 20px;
}

.tab-rate .nav-item {
  margin-right: 8px;
}

.tab-rate .nav-link {
  border: 0;
  color: #AFB2BD;
  padding: 3px 15px;
  border-radius: 100px;
}

.tab-rate .nav-link.active {
  background-color: #81D1F1;
  color: #fff;
  font-weight: 600;
}

.tab-timeRange {
  border: 0;
}

.tab-timeRange .nav-item {
  margin-left: 10px;
}

.tab-timeRange .nav-link {
  padding: 2px 10px;
  border-radius: 100px;
  color: #AFB2BD;
  border: 1px solid #AFB2BD;
  font-size: 12px;
}

.tab-timeRange .nav-link.active {
  background-color: #81D1F1;
  border: 1px solid #81D1F1;
  color: #fff;
}

.input-common {
  background-color: #fff;
  height: 40px;
  width: 100%;
  border-radius: 100px;
  padding: 0 15px;
}

.input-common::-webkit-input-placeholder {
  color: #D5D7DD;
}

.input-common:-ms-input-placeholder {
  color: #D5D7DD;
}

.input-common::-ms-input-placeholder {
  color: #D5D7DD;
}

.input-common::placeholder {
  color: #D5D7DD;
}

.contract img {
  width: 13px;
  margin-right: 5px;
}

.contract p {
  font-size: 12px;
  margin: 0;
  color: #AFB2BD;
}

.recent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.recent span {
  color: #AFB2BD;
}

.recent img {
  width: 10px;
  margin-left: 5px;
}

.top-center {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header {
  width: 100%;
  max-width: 768px;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #F4F6F9;
  z-index: 1;
}

.header_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.header_title h1 {
  width: calc(100% - 80px);
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
}

.header_assets {
  padding-top: 20px;
  background-color: #F4F6F9;
}

.header_assets h1 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.header_assets_profitBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  background-color: #D4F3FF;
  border-radius: 100px 0 0 100px;
  color: #2C90F4;
}

.header_assets_profitBtn img {
  width: 15px;
  margin-right: 10px;
}

.arrange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.arrange span {
  font-size: 13px;
  margin-right: 5px;
}

.arrange img {
  width: 10px;
}

.modal-common .modal-dialog {
  max-width: 768px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  margin: 0;
}

.modal-common .modal-content {
  border-radius: 30px 30px 0 0;
  border: 0;
}

.modal-common .modal-title {
  background-color: #81D1F1;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 100px;
  padding: 4px 15px;
  position: absolute;
  top: 0;
  left: 35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-common .modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #81D1F1;
  position: absolute;
  top: 0;
  right: 35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  opacity: 1;
  color: #fff;
  padding: 0;
}

.modal-common .modal-close img {
  width: 70%;
}

.modal-common .modal-header {
  border: 0;
  padding: 0;
}

.modal-common .modal-body {
  padding: 30px 0;
}

.modal-common .modal_list {
  text-align: center;
}

.modal-common .modal_list li {
  margin: 12px 0;
  cursor: pointer;
  font-size: 16px;
}

.modal-common .modal_list li.active {
  font-weight: 500;
  color: #2C90F4;
}

.modal-second .modal-dialog {
  margin-top: 100px;
}

.modal-second .modal-content {
  border: 0;
}

.modal-second .modal-body {
  padding: 20px;
}

.modal-btn {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-radius: 100px;
}

.modal-btn-border {
  border: 1px solid #AFB2BD;
}

.modal-btn-bg {
  border: 1px solid #2C90F4;
  background-color: #2C90F4;
  color: #fff;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 15px;
  background-color: #F4F6F9;
  z-index: 1;
}

.search_content {
  width: calc(100% - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  border-radius: 100px;
  border: 1px solid #AFB2BD;
  padding: 10px 15px;
}

.search_content input {
  width: calc(100% - 20px - 18px);
  height: 100%;
  padding: 0 10px;
}

.search_content_icon {
  width: 20px;
}

.search_content_icon img {
  width: 100%;
}

.search_content_delete {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #AFB2BD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.search_content_delete img {
  width: 80%;
}

.search_cancel {
  text-align: right;
  color: #AFB2BD;
  font-weight: 500;
  width: 50px;
  cursor: pointer;
}

.check {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 8px;
  border: 1px solid #AFB2BD;
}

.check_box img {
  width: 80%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.check.active .check_box {
  background-color: #81D1F1;
  border-color: #81D1F1;
}

.check.active .check_box img {
  opacity: 1;
}

.checkCircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.checkCircle_box {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #AFB2BD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 5px;
}

.checkCircle_box img {
  width: 80%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkCircle.active .checkCircle_box {
  background-color: #81D1F1;
  border-color: #81D1F1;
}

.checkCircle.active .checkCircle_box img {
  opacity: 1;
}

.back {
  width: 60px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #D4F3FF;
  border-radius: 0 100px 100px 0;
}

.back img {
  width: 10px;
}

.blueBox {
  padding: 13px 15px;
  background-color: #D4F3FF;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 20px;
}

.blueBox_content {
  width: calc(100% - 13px);
  padding-right: 10px;
}

.blueBox_content h4 {
  font-size: 14px;
  color: #2C90F4;
  font-weight: 500;
  margin-bottom: 5px;
}

.blueBox_content .contract p {
  color: #3E3E3E;
}

.blueBox_arrow {
  width: 13px;
}

.blueBox_arrow img {
  width: 100%;
}

.yellowBox {
  border-radius: 10px;
  padding: 4px 13px;
  background: rgba(255, 209, 89, 0.35);
}

.filter_item {
  margin-bottom: 20px;
}

.filter_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.filter_text h5 {
  color: #AFB2BD;
  font-size: 14px;
  margin: 0;
  font-weight: normal;
}

.filter_text p {
  margin: 0;
}

.filter_bar {
  width: 100%;
  background-color: #eaeaea;
  border-radius: 100px;
  height: 5px;
}

.filter_bar .dragger {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #81D1F1;
}

.filter_bar .progress {
  background-color: #81D1F1;
}

.docu-title h2 {
  font-size: 14px;
  margin-bottom: 4px;
}

.docu-title p {
  font-size: 12px;
  color: #AFB2BD;
  margin: 0;
}

.docu-item {
  background-color: #fff;
  border-radius: 20px;
  padding: 15px 0;
  margin-bottom: 20px;
}

.docu-item_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
  margin-bottom: 20px;
}

.docu-item_title a {
  display: block;
  border-radius: 100px 0 0 100px;
  background-color: #2C90F4;
  padding: 4px 25px;
  color: #fff;
  font-weight: 600;
}

.docu-item_pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
  overflow: hidden;
}

.docu-item_pic > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.docu-item_name h3 {
  font-size: 16px;
  margin: 0;
}

.docu-item_data {
  padding: 0 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.docu-item_data_income {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.docu-item_data_num {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-bottom: 3px;
}

.docu-item_data_title {
  color: #AFB2BD;
  font-size: 12px;
  margin: 0;
}

.docu-item_data_danger {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
}

.docu-item_data_danger.danger-low {
  background: rgba(86, 198, 58, 0.1);
  color: #56C63A;
}

.docu-item_data_danger.danger-high {
  background: rgba(233, 168, 0, 0.15);
  color: #E9A800;
}

.docu-item_plot {
  width: 40px;
  height: 40px;
  position: relative;
  margin-left: 10px;
}

.docu-item_plot_svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.docu-item_news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

.docu-item_news_title {
  width: 90px;
  border-radius: 100px;
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  height: 30px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.docu-item_news_content {
  width: calc(100% - 100px);
  border-radius: 100px;
  border: 1px solid #eaeaea;
  padding: 5px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.docu-item_news_content p {
  width: calc(100% - 10px);
  padding-right: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-size: 13px;
  margin: 0;
}

.docu-item_news_arrow {
  width: 10px;
}

.docu-all_header {
  background-color: #F4F6F9;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.docu-all_header_tab {
  width: calc(100% - 80px);
  height: 45px;
  overflow-x: scroll;
  overflow-y: inherit;
}

.docu-all_header_tab a {
  white-space: nowrap;
}

.docu-all_header_tab::-webkit-scrollbar {
  display: none;
}

.docu-current {
  margin-bottom: 20px;
}

.docu-current_tag {
  background-color: #FFD159;
  padding: 5px 15px;
  border-radius: 10px 10px 0 0;
  font-size: 13px;
  font-weight: 500;
  margin-left: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.docu-current .docu-item {
  margin-bottom: 0;
}

.docu-setting {
  background-color: #fff;
  border-radius: 20px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.docu-setting h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.docu-setting_type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
}

.docu-setting_type li {
  border-radius: 100px;
  margin-right: 10px;
  padding: 2px 12px;
  border: 1px solid #AFB2BD;
  color: #AFB2BD;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.docu-setting_type li.active {
  background-color: #81D1F1;
  border-color: #81D1F1;
  color: #fff;
}

.docu-setting_num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.docu-setting_num_btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #AFB2BD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.docu-setting_num input {
  width: calc(100% - 90px);
  height: 30px;
  border-radius: 100px;
  border: 1px solid #AFB2BD;
  padding: 0 10px;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.docu-setting_profit_head {
  cursor: pointer;
}

.docu-setting_profit_head img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.docu-setting_profit_head.active img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.docu-setting_profit_content {
  padding-top: 10px;
  display: none;
}

.docu-setting_profit_item {
  padding: 10px 0;
}

.docu-setting_profit_item h4 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
}

.docu-my_data {
  background: linear-gradient(94.2deg, #8AD1F1 1.46%, #5899F2 100%);
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 15px 20px 10px;
  color: #fff;
}

.docu-my_data .row {
  margin-bottom: 13px;
}

.docu-my_data .row h5 {
  font-size: 20px;
  margin-bottom: 4px;
}

.docu-my_data .row p {
  margin: 0;
  font-size: 13px;
}

.docu-my_data .row > div {
  border-right: 1px solid #fff;
}

.docu-my_data .row > div:last-child {
  border: 0;
}

.member_header.scroll {
  background-color: #fff;
}

.member_header.scroll .member_nameHeader {
  opacity: 1;
}

.member_header .member_nameHeader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.member_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.member_head_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 45px);
}

.member_head_pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.member_head_pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.member_head_text {
  width: calc(100% - 50px);
  padding-left: 20px;
}

.member_head_text h1 {
  margin: 0;
  font-size: 20px;
  margin-right: 15px;
}

.member_head_text img {
  width: 15px;
  margin-right: 10px;
}

.member_head_text p {
  margin: 0;
  color: #AFB2BD;
  margin-right: 10px;
}

.member_head_follow {
  padding: 4px 0;
  border-radius: 10px;
  border: 1px solid #2C90F4;
  width: 45px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.member_head_follow_icon {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 0 auto;
}

.member_head_follow_icon img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.member_head_follow_icon img.check {
  opacity: 0;
}

.member_head_follow p {
  margin: 0;
  text-align: center;
  font-size: 13px;
  color: #2C90F4;
}

.member_head_follow.active {
  background-color: #81D1F1;
  border-color: #81D1F1;
}

.member_head_follow.active .member_head_follow_icon img.normal {
  opacity: 0;
}

.member_head_follow.active .member_head_follow_icon img.check {
  opacity: 1;
}

.member_head_follow.active p {
  color: #fff;
}

.member_intro li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.member_intro li img {
  width: 15px;
  margin-top: 2px;
}

.member_intro li p {
  width: calc(100% - 15px);
  padding-left: 10px;
  font-size: 13px;
}

.member_intro_text {
  height: 59px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.member_intro_text.active {
  display: block;
}

.member_intro_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.member_intro_more span {
  font-size: 13px;
  color: #AFB2BD;
  margin-right: 5px;
}

.member_intro_more img {
  width: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.member_intro_more.active img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.member_detail {
  background-color: #fff;
  border-radius: 30px 30px 0 0;
  padding: 0 15px 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.member_detail_tabMain {
  position: -webkit-sticky;
  position: sticky;
  top: 64px;
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: #fff;
  border-radius: 30px 30px 0 0;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.member_detail .tab-second {
  position: -webkit-sticky;
  position: sticky;
  top: 149px;
  background-color: #fff;
  z-index: 1;
}

.member_detail.scroll {
  border-radius: 0;
}

.member_detail.scroll .member_detail_tabMain {
  border-radius: 0;
}

.member_rate {
  margin: 20px 0;
}

.member_rate h3 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.member_rate p {
  font-size: 13px;
  color: #AFB2BD;
  margin: 0;
}

.member_rate .row > div {
  position: relative;
}

.member_rate .row > div:first-child::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 40px;
  background-color: #eaeaea;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.member_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.member_list_title {
  margin: 0;
  font-size: 14px;
  color: #AFB2BD;
  font-weight: normal;
}

.member_list_content {
  font-family: "Lato", sans-serif;
  margin: 0;
  font-weight: 600;
  text-align: right;
}

.member_list_hide {
  display: none;
}

.member_list_more {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #eaeaea;
  margin: 15px 0;
}

.member_list_more_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1px 10px;
  cursor: pointer;
}

.member_list_more_content span {
  color: #2C90F4;
}

.member_list_more_content img {
  width: 10px;
  margin-left: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.member_list_more_content.active img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.member_remark {
  margin-bottom: 25px;
}

.member_remark li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #AFB2BD;
  font-size: 13px;
  margin-bottom: 5px;
}

.member_remark li img {
  width: 13px;
  margin-left: 7px;
}

.member_rate_plot {
  position: relative;
  width: 100%;
}

.member_rate_plot canvas .tick line {
  opacity: 0;
}

.member_rate_plot canvas .rateText {
  color: #fff !important;
  background-color: #81D1F1;
}

.member_week_legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 15px;
}

.member_week_legend span {
  color: #AFB2BD;
}

.member_week_box {
  width: 29px;
  height: 8px;
  margin-right: 7px;
}

.member_week_box.bg-green {
  background-color: #88CE77;
}

.member_week_box.bg-red {
  background-color: #E07D7D;
}

.member_danger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.member_danger_item {
  position: relative;
  width: 20%;
}

.member_danger_item:hover .member_danger_intro {
  opacity: 1;
}

.member_danger_bar {
  width: 45px;
  height: 100px;
  background-color: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 auto;
}

@media screen and (max-width: 400px) {
  .member_danger_bar {
    width: 35px;
  }
}

.member_danger_colorBox {
  width: 100%;
  position: relative;
}

.member_danger_colorBox.bg-red {
  background-color: #E07D7D;
}

.member_danger_colorBox.bg-orange {
  background-color: #F1A634;
}

.member_danger_colorBox.bg-green {
  background-color: #88CE77;
}

.member_danger_colorBox.bg-yellow {
  background-color: #F2C94C;
}

.member_danger_intro {
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
  color: #fff;
  padding: 3px 10px;
  background-color: #81D1F1;
  border-radius: 100px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.member_danger_title {
  text-align: center;
  font-size: 13px;
  margin: 10px 0 0;
  color: #AFB2BD;
}

.member_loss {
  width: 75%;
  margin: 0 auto;
}

.member_loss h5 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}

.member_loss p {
  text-align: center;
  margin: 0;
  color: #AFB2BD;
}

.member_loss .row > div {
  border-right: 1px solid #EAEAEA;
}

.member_loss .row > div:last-child {
  border: 0;
}

.member_prefer_plot {
  width: 43%;
  padding-bottom: 43%;
  position: relative;
  margin: 0 auto 20px;
}

.member_prefer #member_prefer_plot_convas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.member_prefer_table {
  width: 100%;
}

.member_prefer_table td {
  width: 33.3333%;
  padding: 10px 0;
}

.member_prefer_table td:nth-child(2) {
  text-align: center;
}

.member_prefer_table td:last-child {
  text-align: right;
}

.member_prefer_table thead {
  color: #AFB2BD;
}

.member_prefer_table tr {
  border-bottom: 1px solid #eaeaea;
}

.member_prefer_colorBox {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 6px;
}

.member_nameHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.member_nameHeader_pic {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  margin-right: 8px;
  overflow: hidden;
}

.member_nameHeader_pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.member_position_item {
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #F4F6F9;
  padding-top: 15px;
}

.member_position_tag {
  padding: 2px 12px;
  border-radius: 0 100px 100px 0;
  color: #fff;
  font-size: 12px;
  margin-right: 15px;
}

.member_position_tag.bg-red {
  background-color: #C63A3A;
}

.member_position_tag.bg-green {
  background-color: #56C63A;
}

.member_follower_badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 16px;
  border-radius: 10px;
  background-color: #F4F6F9;
  margin-top: 20px;
}

.member_follower_table {
  width: 100%;
  margin-top: 20px;
}

.member_follower_table thead td {
  color: #AFB2BD;
  font-size: 13px;
}

.member_follower_table td {
  width: 50%;
  padding: 10px 0;
}

.member_follower_table td:last-child {
  text-align: right;
}

.member_follower_table td .member_nameHeader {
  opacity: 1;
  position: static;
  -webkit-transform: none;
          transform: none;
}

.member_follower_table tr {
  border-bottom: 1px solid #eaeaea;
}

.member_news_item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}

.member_news_item:last-child {
  border: 0;
}

.member_news_edit {
  cursor: pointer;
}

.member_news_edit img {
  width: 20px;
}

.member_news_content p {
  margin-bottom: 20px;
}

.member_news_content img {
  width: 100%;
}

.member_news_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.member_news_icon_item {
  margin-right: 10px;
  padding: 5px 15px;
  border-radius: 100px;
  background-color: #F4F6F9;
  border: 1px solid #F4F6F9;
}

.member_news_icon_item svg, .member_news_icon_item img {
  width: 15px;
  margin-right: 3px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.member_news_icon_item span {
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.member_news_like {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.member_news_like svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.member_news_like span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.member_news_like.active {
  background-color: #81D1F1;
  border-color: #81D1F1;
}

.member_news_like.active svg path {
  fill: #fff;
}

.member_news_like.active span {
  color: #fff;
}

.member_news_share {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.member_news_share svg {
  margin: 0;
}

.member_news_input {
  height: 30px;
  width: 100%;
  border-radius: 100px;
  background-color: #F4F6F9;
  padding: 5px 15px;
}

.member_news_input::-webkit-input-placeholder {
  color: #AFB2BD;
}

.member_news_input:-ms-input-placeholder {
  color: #AFB2BD;
}

.member_news_input::-ms-input-placeholder {
  color: #AFB2BD;
}

.member_news_input::placeholder {
  color: #AFB2BD;
}

.report_item {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.report_item:last-child {
  border: 0;
}

.report_item span {
  width: calc(100% - 15px);
  padding-right: 10px;
}

.report_item textarea {
  width: 100%;
  height: 120px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 12px;
  padding: 10px;
}

.report_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #AFB2BD;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.report_check img {
  width: 80%;
}

.report_check.active {
  background-color: #81D1F1;
  border-color: #81D1F1;
}

.dangerIntro {
  cursor: pointer;
  margin-bottom: 20px;
}

.dangerIntro .blueBox_arrow {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dangerIntro_content {
  display: none;
}

.dangerIntro.active .blueBox_arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.switch {
  width: 27px;
  height: 16px;
  border-radius: 100px;
  position: relative;
  background-color: #eaeaea;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.switch_ball {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 3px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.switch.active {
  background-color: #81D1F1;
}

.switch.active .switch_ball {
  left: calc(100% - 13px);
}

.link {
  text-decoration: underline;
  color: #2C90F4;
}

.news .member_news_icon_item {
  border-color: #AFB2BD;
}

.news .member_news_like.active {
  border-color: #81D1F1;
}

.news .member_news_input {
  background-color: #fff;
}

.news_add input {
  background-color: #fff;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 100px;
  padding: 0 15px;
  height: 40px;
}

.news_add input::-webkit-input-placeholder {
  color: #AFB2BD;
}

.news_add input:-ms-input-placeholder {
  color: #AFB2BD;
}

.news_add input::-ms-input-placeholder {
  color: #AFB2BD;
}

.news_add input::placeholder {
  color: #AFB2BD;
}

.news_add textarea {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 15px;
  width: 100%;
}

.news_add textarea::-webkit-input-placeholder {
  color: #AFB2BD;
}

.news_add textarea:-ms-input-placeholder {
  color: #AFB2BD;
}

.news_add textarea::-ms-input-placeholder {
  color: #AFB2BD;
}

.news_add textarea::placeholder {
  color: #AFB2BD;
}

.news_add_item {
  font-size: 12px;
  padding: 2px 10px;
  border: 1px solid #3E3E3E;
  border-radius: 100px;
  margin-right: 10px;
  cursor: pointer;
}

.assets_btn {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 12px 5px;
  display: block;
}

.assets_btn img {
  display: block;
  width: 30px;
  margin: 0 auto 3px;
}

.assets_btn p {
  text-align: center;
  margin: 0;
  color: #2C90F4;
}

.assets_detail {
  padding: 25px 15px 100px;
  border-radius: 30px 30px 0 0;
  background-color: #fff;
  min-height: calc(100vh - 130px - 21px - 0.5rem - 30px - 1rem - 78px - 5rem);
}

.assets_detail h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.assets_detail_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  background-color: #F4F6F9;
  padding: 10px 20px;
  margin-bottom: 15px;
}

.assets_detail_item h3 {
  font-size: 16px;
  margin: 0;
  font-weight: 600;
}

.assets_search h2 {
  font-size: 14px;
  color: #AFB2BD;
  margin: 0;
  font-weight: normal;
  margin-bottom: 10px;
}

.assets_search_hot {
  margin-bottom: 15px;
}

.assets_search_hot ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.assets_search_hot ul li {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 2px 10px;
  font-size: 12px;
  font-weight: 600;
  background-color: #CFD4E4;
}

.assets_search_list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 13px;
}

.assets_search_list .member_nameHeader {
  opacity: 1;
  position: static;
  -webkit-transform: none;
          transform: none;
}

.assets_money_search {
  overflow: hidden;
  width: 35px;
  margin-right: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.assets_money_search_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px 0 0 100px;
  height: 35px;
  width: 135px;
  padding: 0 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.assets_money_search_inner input {
  width: calc(100% - 40px);
  padding: 0 10px;
}

.assets_money_search_icon {
  width: 20px;
}

.assets_money_search_icon img {
  width: 100%;
}

.assets_money_search_cancel {
  width: 20px;
  height: 20px;
  background-color: #AFB2BD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.assets_money_search_cancel img {
  width: 80%;
}

.assets_money_search.active {
  width: 135px;
  margin-right: 0;
}

.assets_money_search.active .assets_money_search_inner {
  background-color: #D4F3FF;
}

.assets_money_table {
  width: 100%;
}

.assets_money_table td {
  width: 33.3333%;
  padding: 10px 0;
}

.assets_money_table td:last-child {
  text-align: right;
}

.assets_money_table td:nth-child(2) {
  text-align: center;
}

.assets_money_table thead td {
  color: #AFB2BD;
}

.assets_filter h5 {
  color: #AFB2BD;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}

.assets_filter_coin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.assets_filter_coin h5 {
  width: 45px;
}

.assets_filter_coin a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #AFB2BD;
  border-radius: 10px;
  padding: 5px 13px;
  width: calc(100% - 45px);
}

.assets_filter_coin a span {
  width: calc(100% - 10px);
}

.assets_filter_coin a img {
  width: 8px;
}

.assets_filter_type .row {
  margin-left: -8px;
  margin-right: -8px;
}

.assets_filter_type .row > div {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 10px;
}

.assets_filter_type_item {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  background-color: #F4F6F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.assets_filter_type_item.active {
  background-color: #D4F3FF;
  color: #2C90F4;
}

.assets_docu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 0 10px 15px;
  margin-bottom: 20px;
}

.assets_docu h3 {
  font-size: 16px;
  margin: 0;
}

.assets_docu_num {
  text-align: right;
  margin-right: 15px;
}

.assets_docu_num p {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.assets_docu_arrow {
  width: 35px;
  height: 30px;
  background-color: #D4F3FF;
  border-radius: 100px 0 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.assets_docu_arrow img {
  width: 8px;
}

.profit_chart {
  padding: 15px 20px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
}

.profit_chart h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profit_range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profit_range input {
  width: calc((100% - 40px - 60px - 20px) / 2);
  height: 40px;
  background-color: #fff;
  text-align: center;
  font-family: "Lato", sans-serif;
  border-radius: 10px;
  border: 1px solid #AFB2BD;
}

.profit_range span {
  width: 40px;
  text-align: center;
}

.profit_range button {
  width: 60px;
  height: 40px;
  border-radius: 10px;
  background-color: #D4F3FF;
  color: #2C90F4;
  margin-left: 20px;
}

.pick_detail_address .input-common {
  width: calc(100% - 70px);
}

.pick_detail_icon {
  width: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.pick_detail_icon img {
  width: 100%;
}

.pick_detail_bottom {
  max-width: 768px;
  background-color: #fff;
  padding: 20px 15px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.05);
}

.pick_detail_password .row {
  margin-bottom: 30px;
  margin-left: -8px;
  margin-right: -8px;
}

.pick_detail_password .row > div {
  padding-left: 8px;
  padding-right: 8px;
}

.pick_detail_password .row > div input {
  width: 100%;
  height: 55px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  text-align: center;
}

.pick_vertify {
  padding: 0 15px;
}

.pick_vertify_item {
  margin-bottom: 20px;
}

.pick_vertify_item input {
  width: calc(100% - 85px - 15px);
  border: 1px solid #AFB2BD;
  border-radius: 10px;
  height: 35px;
  padding: 0 10px;
}

.pick_vertify_item button {
  width: 85px;
  height: 35px;
  border-radius: 10px;
  background-color: #D4F3FF;
  color: #2C90F4;
  font-size: 13px;
}

.transfer .row {
  margin-left: -10px;
  margin-right: -10px;
}

.transfer .row > div {
  padding-left: 10px;
  padding-right: 10px;
}

.transfer_account {
  position: relative;
}

.transfer_account_item {
  padding: 10px 20px;
  border: 1px solid #AFB2BD;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.transfer_account_item img {
  width: 10px;
}

.transfer_account_text {
  width: calc(100% - 10px);
  padding-right: 10px;
}

.transfer_account_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #D4F3FF;
  border: 1px solid #2C90F4;
  -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 50%;
  top: 45px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.transfer_account_icon img {
  width: 60%;
}

.transfer_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #eaeaea;
}

.transfer_item h4 {
  margin: 0;
  font-size: 16px;
}

.transfer_item input {
  width: 50%;
  text-align: right;
}

.transfer_item input::-webkit-input-placeholder {
  color: #D5D7DD;
}

.transfer_item input:-ms-input-placeholder {
  color: #D5D7DD;
}

.transfer_item input::-ms-input-placeholder {
  color: #D5D7DD;
}

.transfer_item input::placeholder {
  color: #D5D7DD;
}

.exchange_coin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.exchange_coin_item {
  width: calc((100% - 45px) / 2);
  border: 1px solid #AFB2BD;
  border-radius: 10px;
  padding: 13px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.exchange_coin_item .member_nameHeader {
  width: calc(100% - 13px);
  padding-right: 10px;
}

.exchange_coin_item > img {
  width: 13px;
}

.exchange_coin_arrow {
  width: 45px;
}

.exchange_coin_arrow img {
  width: 20px;
  display: block;
  margin: 0 auto;
}

.exchange_replace_inner {
  display: none;
}

.exchange_replace_inner.active {
  display: block;
}

.exchange_replace_input {
  width: calc(100% - 75px);
  background-color: #fff;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.exchange_replace_input input {
  width: calc(100% - 50px);
  padding: 0 15px;
}

.exchange_replace_input input::-webkit-input-placeholder {
  color: #D5D7DD;
}

.exchange_replace_input input:-ms-input-placeholder {
  color: #D5D7DD;
}

.exchange_replace_input input::-ms-input-placeholder {
  color: #D5D7DD;
}

.exchange_replace_input input::placeholder {
  color: #D5D7DD;
}

.exchange_replace_toggle {
  cursor: pointer;
}

.exchange_replace_unit {
  width: 50px;
  text-align: center;
}

.exchange_replace_content button {
  width: 65px;
  height: 40px;
  background-color: #D4F3FF;
  color: #2C90F4;
  border-radius: 10px;
}

.exchange_replace_btn {
  cursor: pointer;
  width: 65px;
  height: 40px;
  background-color: #D4F3FF;
  color: #2C90F4;
  border-radius: 10px;
}

.dataEmpty {
  margin: 60px 0;
}

.dataEmpty img {
  width: 100px;
  display: block;
  margin: 0 auto 5px;
}

.dataEmpty p {
  color: #AFB2BD;
  text-align: center;
  margin: 0;
}

.money_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  padding: 10px 0;
}

.contract_item {
  border-radius: 20px;
  background-color: #fff;
  padding: 12px 0;
  margin-bottom: 20px;
}

.contract_item_arrow {
  width: 38px;
  height: 30px;
  background-color: #D4F3FF;
  border-radius: 100px 0 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contract_item_arrow img {
  width: 8px;
}
/*# sourceMappingURL=style.css.map */